body {
  margin: 0;
  font-family: Roboto;
}

.header {
  position: relative;
  text-align: center;
  height: 350px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(/images/pickle-rick-logo.svg);
  .pickle-rick-logo {
    padding-top: 35px;
  }
  .header-text {
    position: absolute;
    top: 50%;
    left: 50%;
    white-space: nowrap;
    transform: translate(-50%, -50%);
  }
  h1 {
    font-weight: 700;
    font-size: 48px;
    margin: 16px;
  }
  .header-note {
    font-weight: 400;
    font-size: 16px;
  }

  .rick-face {
    position: absolute;
    left: 24px;
    top: 24px;
  }
}

.main-content {
  background-image: url(/images/background.svg);
  background-color: #03b0c8;
  display: flex;
  flex-direction: column;
  .api-content {
    padding: 50px;
    flex-wrap: wrap;
    display: flex;
    place-content: center;

    .card {
      border-radius: 4px;
      background-color: white;
      padding: 12px 12px 0 12px;
      width: 230px;
      display: flex;
      margin: 6px;
      cursor: pointer;

      .card-img {
        width: 60px;
        height: 60px;
        padding-bottom: 28px;
      }
      .info {
        display: inline-block;
        vertical-align: bottom;
        padding: 12px;

        .name {
          font-weight: 700;
          size: 16px;
        }

        .status {
          padding-left: 8px;
          padding-top: 8px;
        }
      }
    }
  }

  .footer {
    padding-bottom: 33px;
    margin: 0 32px;
    &.footer-upper {
      display: none;
      padding-top: 24px;
      padding-bottom: 0;
      margin-bottom: -32px;
    }
    .chevron {
      display: inline-block;
      text-align-last: center;
      position: static;
      width: 32px;
      height: 32px;
      left: 48px;
      top: 0px;

      background: #ffffff;
      border: 1px solid #dfe3e8;
      border-radius: 4px;
      margin: 8px;
      cursor: pointer;
      svg {
        top: 0;
        left: 0;
        transform: translate(0%, 50%);
      }
      &.disabled {
        opacity: 0.5;
        cursor: auto;
      }
    }
    .pages {
      font-weight: 700;
      size: 16px;
      display: inline-block;
      vertical-align: sub;
      margin-left: 8px;
    }
  }
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */

  /* Modal Content/Box */
  &-content {
    text-align: center;
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    box-shadow: 0px 0px 16px rgba(37, 40, 43, 0.1);
    border-radius: 4px;
  }
  &-name {
    font-size: 22px;
    font-weight: 500;
  }
  &-status,
  &-species {
    display: inline-block;
  }
  &-img {
    margin-top: 12px;
    max-width: -webkit-fill-available;
  }
  &-footer {
    line-height: 40px;
    background-color: #03b0c8;
    color: white;
    margin: 0 -20px -20px -20px;
    padding: 12px 0;
  }
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.Alive {
  &::before {
    content: "";
    transform: translate(-8px, 0);
    display: inline-block;
    width: 10px;
    height: 10px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-color: #2ac769;
  }
}
.Dead {
  &::before {
    content: "";
    transform: translate(-8px, 0);
    display: inline-block;
    width: 10px;
    height: 10px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-color: #b82828;
  }
}
.unknown {
  &::before {
    content: "";
    transform: translate(-8px, 0);
    display: inline-block;
    width: 10px;
    height: 10px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-color: #a0a3a8;
  }
}

@media screen and (max-width: 900px) {
  .header {
    .header-text {
      white-space: inherit;
    }
  }
}

@media screen and (max-width: 480px) {
  .header-text {
    h1 {
      font-size: 32px;
    }
  }
  .main-content {
    .footer.footer-upper {
      display: block;
    }
  }
}
